<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EPUB</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
    <div id="main">  
      <div id="example-wrapper">
        <div id="example-viewer">
          <h1>Select Story</h1>
          <ul style="list-style-type:none;">
            <li class="grade-list"><span class="header">Grade 1</span>
              <ol>
                <li><a href="epub-read.html?book=All About Eggs">All About Eggs</a></li>
                <li><a href="epub-read.html?book=Fish in the Ocean">Fish in the Ocean</a></li>
                <li><a href="epub-read.html?book=Going on a Walk">Going on a Walk</a></li>
                <li><a href="epub-read.html?book=A Visit To My Classroom">A Visit To My Classroom</a></li>
              </ol>
            </li>
            <li class="grade-list"><span class="header">Grade 2</span>
              <ol>
                <li><a href="epub-read.html?book=A Visit to My School">A Visit to My School</a></li>
                <li><a href="epub-read.html?book=A Visit to the Bakery">A Visit to the Bakery</a></li>
                <li><a href="epub-read.html?book=All About Eggs">All About Eggs</a></li>
                <li><a href="epub-read.html?book=Fish in the Ocean">Fish in the Ocean</a></li>
              </ol>
            </li>
            <li class="grade-list"><span class="header">Grade 3</span>
              <ol>
                <li><a href="epub-read.html?book=Going on a Walk">Going on a Walk</a></li>
                <li><a href="epub-read.html?book=A Visit To My Classroom">A Visit To My Classroom</a></li>
                <li><a href="epub-read.html?book=A Visit to My School">A Visit to My School</a></li>
                <li><a href="epub-read.html?book=A Visit to the Bakery">A Visit to the Bakery</a></li>
              </ol>
            </li>
            <li class="grade-list"><span class="header">Grade 4</span>
              <ol>
                <li><a href="epub-read.html?book=All About Eggs">All About Eggs</a></li>
                <li><a href="epub-read.html?book=Fish in the Ocean">Fish in the Ocean</a></li>
                <li><a href="epub-read.html?book=Going on a Walk">Going on a Walk</a></li>
                <li><a href="epub-read.html?book=A Visit To My Classroom">A Visit To My Classroom</a></li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
